@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.container{
    width: 35rem;
    position: relative;
    /* border: 2px solid red; */
}

.autocomplete-input{
    padding: 1rem;
    width: calc(100% - 30px);
    border-radius: 5px;
    color: orange;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.autocomplete-input::placeholder{
    color: orange;
}


#players-list li.selected {
    background-color: orange;
}

.autocomplete-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: hidden;
}

.autocomplete-list li{
    color: black;
    padding: 15px;
    width: calc(100% - 30px);
    cursor: pointer;
}

#players-list {
    display: none;
  }

  .table-container {
    max-height: 450px; /* Set the maximum height for the container */
    overflow-y: auto; /* Add vertical scrollbar if needed */
    max-width: 1100px;

}

/* Center text within all table cells and add slight border */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center; /* Center text horizontally */
    table-layout: fixed;
}

table td {
    /* padding: 0.5rem 0; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset; 
}

table td .generated-team {
    /* border: none;    */
    padding: 0.5rem;
}

.yellow-bg-add{
    background-color: yellow;
}

.green-bg-add{
    background-color: green;
    color: white;
}


table td img {
    display: block; /* Ensure the image is a block-level element */
    margin: 0 auto; /* Center the image horizontally within the cell */
    margin-bottom: 0.5rem;
}
    
    table tr th {
        background-color: orange;
        color: black;
        padding: 1rem 4.5rem;
        text-align: center;
    }

        table tr .instructions-ht{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    

        
    