@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

/* Add these styles to your existing CSS */

 header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 ;
}

nav{
    /* background-color: orange; */
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 3rem; 
    padding-top: 1rem;  
    margin-right: 2rem;
    /* background-color: blue; */
} 

 nav li {
    /* margin-right: 1rem; */
    margin: 0rem 2rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1rem;
}

h1{
    color: black;
    margin-bottom: 2.5rem;
}

h1::first-letter{
    color: orange;
    font-size: 2.5rem;
}

.autocomplete-input {
    padding: 1rem;
    width: 500px;
    color: orange;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid black;
    /* margin-right: 35rem;
    margin-top: 10rem; */
    /* outline: 1px solid black; */
}
.autocomplete-input:focus{
    border-color: black;
    outline: 0;
}

.autocomplete-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
    /* margin-left: 35rem; */
    /* margin-top: 10rem; */
    max-height: 200px;
    overflow-y: hidden;
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    box-sizing: border-box;
    /* margin-top: 5px; */
}
/* .container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Set a background color if needed */
    /* z-index: 100; Ensure the header is above other content 
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}
*/

/*
1. Make tables generate top to bottom
2. make footer
3. media queries :|||||||
*/

.content {
    margin-top: 100px; /* Adjust this margin to ensure content is below the fixed header */
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 1rem; /* Add margin at the top to separate from the input */
}

.autocomplete-list li {
    color: black;
    padding: 14px;
    cursor: pointer;
    background-color: white;
}



.autocomplete-input::placeholder{
    color: orange;
}


#players-list li.selected {
    background-color: orange;
}

#players-list {
    display: none;
}

.visibility {
    visibility: hidden;
}

/* Center text within all table cells and add slight border */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center; /* Center text horizontally */
    table-layout: fixed;
}

table td {
    /* padding: 0.5rem 0; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset; 
    font-size: 1.2rem;
    /* background-color: rgb(243, 238, 238); */
    background-color: whitesmoke;
}

table td .generated-team {
    /* border: none;    */
    padding: 0.5rem;
    outline: none;
}

.yellow-bg-add{
    background-color: yellow;
}

.green-bg-add{
    background-color: green;
    color: white;
}
.arrow{
    /* color: black; */
    font-size: 1.8rem;
    /* content: "\2191"; */
}

table td img {
    display: block; /* Ensure the image is a block-level element */
    margin: 0 auto; /* Center the image horizontally within the cell */
    margin-bottom: 0.5rem;
}
    
    table tr th {
        background-color: orange;
        color: black;
        padding: 1rem 1.5rem;
        text-align: center;
    }

        table tr .instructions-ht{
            display: flex;
            justify-content: center;
            align-items: center;
        }