@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.container{
    width: 35rem;
    position: relative;
    /* border: 2px solid red; */
}

.autocomplete-input{
    padding: 1rem;
    width: calc(100% - 30px);
    border-radius: 5px;
    color: orange;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.autocomplete-input::placeholder{
    color: orange;
}

#players-list {
    display: none;
  }

  #players-list li.selected {
    background-color: orange;
  }

.autocomplete-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: hidden;
}

.autocomplete-list li{
    color: black;
    padding: 15px;
    width: calc(100% - 30px);
    cursor: pointer;
}
    
    table {
        /* width: 100%; */
        border-collapse: collapse; 
        /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50rem;
    }
    
    table td {
        outline: 1px solid #f1f3ef;
        padding: 1.8rem;
        text-align: left;
        width: 4rem;
        background-color: lightblue;
        
    }

    table td:nth-child(even){
        outline: 1px solid #f1f3ef;
        padding: 1.5rem;
        text-align: left;
        width: 4rem;
        background-color: pink;
        display: table-cell;
        vertical-align: middle;
        
    }

    table th{
        outline: 1px solid orange;
        padding: 1.4rem;
        text-align: left;
        
    }
    
    table tr {
        background-color: #f1f3ef;
    }
    
    table th {
        background-color: orange;
        color: black;
    }
    
    /* Rest of your styling */
    
